{
    "extends": "eslint-config-planes",
    "rules": {
      "react/jsx-props-no-spreading": 0,
      "react/require-default-props": "off",
      "no-shadow": 1,
      "react/no-unused-prop-types": 1,
      "@typescript-eslint/explicit-module-boundary-types": 0
    },
    "env": {
      "browser": true,
      "jest" : true
    },
    "globals": {
      "Stripe": true
    }
  }